body {
  font-family: sans-serif; /* Устанавливаем гротескный шрифт для всего текста */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.header {
  background-color: blueviolet;
  width: 100%;
  height: 118px;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  /* border: 1px solid green; */
  height: 100%;
}

.header-box {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header-logo {
  font-size: 50px;
  font-weight: 700;
  font-family: sans-serif;
  color: white;
}

.header-burger img {
  margin-top: 8px;
  width: 27px;
  height: 27px;
}

.header-search input {
  padding: 10px 77px 10px 5px;
  width: 550px;
  min-width: 100%;
  border-radius: 7px;
  outline: none;
  border: none;
}

.header-info {
  display: flex;
  color: white;
  font-size: 17px;
  gap: 50px; /*было 35*/
}

.header-info--adresses,
.header-info--login,
.header-info--bin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.header-info--adresses img,
.header-info--bin img,
.header-info--login img {
  width: 23px;
  height: 23px;
}

@media (max-width: 1350px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 1300px) {
  .header-search input {
    width: 500px;
  }
  .header-info {
    gap: 35px;
  }
}

@media (max-width: 1205px) {
  .header-search input {
    width: 400px;
  }
}

@media (max-width: 1130px) {
  .header-search input {
    width: 333px;
  }
}

@media (max-width: 1015px) {
  .header-search input {
    width: 250px;
  }
  .header-info {
    gap: 20px;
  }
}

@media (max-width: 870px) {
  .header-logo {
    font-size: 35px;
  }

  .header-search input {
    padding: 10px 0px 10px 5px;
  }
}

@media (max-width: 790px) {
  /* .header-search input {
    width: 300px;
  } */

  .header-info {
    display: none;
  }
}

@media (max-width: 570px) {
  .header-logo {
    display: none;
  }
}